// matugen 配色文件

layout{
    focus-ring{
        active-gradient from="#ffb1c3cc" to="#edbe91cc" angle=135
        urgent-color "#ffb4ab"

        }
}

recent-windows {    
    highlight {
        active-color "#413738"
        urgent-color "#ffb4ab"
    }
}
