// matugen 配色文件

layout{
    focus-ring{
        active-gradient from="#dcc66ecc" to="#aad0b2cc" angle=135
        urgent-color "#ffb4ab"

        }
}

recent-windows {    
    highlight {
        active-color "#3c3930"
        urgent-color "#ffb4ab"
    }
}
