// matugen 配色文件

layout{
    focus-ring{
        active-gradient from="#ffb693cc" to="#d0c890cc" angle=135
        urgent-color "#ffb4ab"

        }
}

recent-windows {    
    highlight {
        active-color "#423732"
        urgent-color "#ffb4ab"
    }
}
