// 窗口规则全局设置

layer-rule {
    match namespace="awww-daemon"
    place-within-backdrop true
}

layer-rule {
    match namespace="rofi"
    match namespace="logout_dialog"
    background-effect {
        blur true
        noise 0.02
        saturation 1.2
        xray true
    }
}

// 全局窗口样式
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    opacity 0.95
    draw-border-with-background false
}

window-rule {
    match app-id="kitty"
    background-effect {
        blur true
        noise 0.02
        saturation 1.2
        xray true
    }
}

window-rule {
    match is-active=false
    opacity 0.7
}

window-rule {
    match app-id="firefox"
    match app-id="mpv"
    match app-id="imv"
    opacity 1.0
}

// 工具类
window-rule {
    match app-id="imv"
    match title="satty"
    match app-id="fcitx"
    match app-id="waypaper"
    match title="重命名"
    match title="另存为"
    open-floating true 
}

window-rule {
    match title="Slint"
    open-floating true
}

// 大小固定工具
window-rule {
    match app-id="nmtui"
    match app-id="clipse"
    min-width 640
    min-height 400
    open-floating true
}
window-rule {
    match app-id="wallpaper"
    match app-id="impala"
    min-width 960
    min-height 600
    open-floating true
}

// 图片/视频类
window-rule {
    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
    opacity 1.0
}

// 视频播放器
window-rule {
    match app-id="mpv"
    opacity 1.0
}
