// 窗口规则全局设置

// layer-shell 规则
layer-rule{
    match namespace="wallpaper"
    place-within-backdrop true
}

// 全局窗口样式
window-rule {
    geometry-corner-radius 8    // 窗口圆角
    clip-to-geometry true
    opacity 0.97                // 窗口透明度
    draw-border-with-background false
}

// 工具类
window-rule {
    match app-id="imv"
    match app-id="clipse-gui"
    match title="satty"
    match app-id="fcitx" title="Fcitx5 Input Window" 
    match app-id="waypaper"
    match title="重命名"
    match title="另存为"
    open-floating true 
}

// 大小固定工具
window-rule {
    match app-id="nmtui"
    match app-id="clipse"
    min-width 640
    min-height 400
    open-floating true
}
window-rule {
    match app-id="impala"
    min-width 960
    min-height 600
    open-floating true
}

// 图片/视频类
window-rule {
    match title="图片查看器"
    match title="画中画"
    match title="图片和视频"
    match title="视频播放器"
    open-floating true
    opacity 1.0
}

// 视频播放器
window-rule {
    match app-id="mpv"
    match app-id="celluloid"
    opacity 1.0
}
